
<!DOCTYPE html>

<html>
	<head>
		<title>Sign In</title>
		<link rel="stylesheet" href="css/style.css">
	

	</head>
	<body>
	<div class="loginBox">
		
		<img src="img/user.png" class="user">
		<h2>Sign In Here</h2>
		<form action="/signin" method="post">
			<p>Username</p>
			<input type="text" name = "username" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name = "password" placeholder="Enter Password">
			<input type="submit" name = "" value="Sign In">
			<a href="#" id="fog"> Forget Password?</a> 
			<h4 id="head">Not Registered?<a id="anc" href="/signup">Sign Up Here</a></h4>
			
		</form>
	</div>
	</body>
</html>
